# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local saved app data
review_bank.json

# Virtual environments
.venv/
venv/
env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
bayoubloomaquatics/
